html, body {
    height: 100%; margin:0px;
}

#app {
    display:flex;
    display:-webkit-flex;
    width: 100%;
    height: 100%;
    justify-content:center;
    align-items: center;
    flex-direction:column;
}

.my-girl-img {
    margin:50px;
    width:250px;
    height:auto;
    border-radius:5px;
}
